* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

.container {
	width: 100%;
	height: 100vh;
	background: #000;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.video-player {
	width: 60vw;
	height: 70vh;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
#video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.controls {
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 0 5px;
	background-color: #3e3e3e7a;
	bottom: -100px;
	transition: all 0.5s linear;
}

.video-player:hover .controls {
	bottom: 0;
}
.progress-bar {
	width: 100%;
	margin-bottom: 10px;
}

#video-bar {
	width: 100%;
	appearance: none;
	height: 5px;
	background-color: #3e3e3e;
	border-radius: 5px;
}

#video-bar::-webkit-slider-thumb {
	appearance: none;
	width: 15px;
	height: 15px;
	background: #ff9800;
	border-radius: 50%;
	cursor: pointer;
}
.time-stamp {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.times-stamp span {
	font-size: 18px;
}
.buttons {
	display: flex;
	width: 100%;
	align-items: start;
	justify-content: space-between;
	margin-top: 3px;
}

.buttons button {
	background: transparent;
	border: none;
	cursor: pointer;
}

.corner {
	display: flex;
	gap: 10px;
}

.volume {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.volume-count {
	position: absolute;
	top: -14px;
	display: none;
	transition: all 0.5s linear;
}
.volume-slider {
	margin: 0 10px;
	width: 100px;
}

input[type="range"] {
	appearance: none;
	height: 3px;
	background: #888;
	border-radius: 5px;
	outline: none;
}

input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	width: 12px;
	height: 12px;
	background: #ff9800;
	border-radius: 50%;
	cursor: pointer;
}

#speed-btn {
	color: white;
	padding: 0 2px;
	cursor: pointer;
	border-radius: 5px;
	border: none;
	font-size: 14px;
	font-weight: bold;
	z-index: 100;
}

.speed-menu {
	display: none; /* Hidden by default */
	position: absolute;
	bottom: 40px; /* Adjust to be on top of the speed button */
	right: 0;
	background-color: #fff;
	border-radius: 5px;
	list-style: none;
	padding: 0;
	margin: 0;
	border: 1px solid #ccc;
	width: 100px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 100;
}

.speed-menu li {
	padding: 8px 12px;
	cursor: pointer;
	font-size: 14px;
	color: #000;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.speed-menu li:last-child {
	border-bottom: none;
}

.speed-menu li:hover {
	background-color: #f1f1f1;
}

.show {
	display: block;
}
